@charset "UTF-8";
/* ===========================================================

トップページ

=========================================================== */

/*------------------------------------------------------------
	サイズ変換
------------------------------------------------------------*/

#size-conversion-wrapper{
    background: #BBB;
    padding: 30px 40px;
}
#setting-wrapper{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.setting-box{
    flex: auto;
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

/* === クリップボードのSTYLE =========================== */
.copy {
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 0;
    border: transparent;
    background-color: transparent;
    box-sizing: border-box;
}
.copy:before {
    content: url(../img/copy-solid.svg);
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 0;
    width: 20px;
    height: 23px;
    margin: auto 0;
    opacity: 0.4;
}
.copy:hover:before{
    opacity: 1;
}
button.copy:focus{
    outline-color: #000;
}